* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
}

@media (min-width: 480px) {
    .cards{
        margin: 40px 50px 20px;
    }
}

